#word{
    font-weight: bold;
    color:green;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 16px;
}
#pron{
    margin-top: 3px;
    color:gray;
    margin-left: 2px;
}
#mean{
    margin-top: 5px;
    color:green;
    margin-left: 2px;
    margin-right: 2px;
}
#tip{
    display: none;
    margin-left: 2px;
    margin-right: 2px;
}
#tip,#root{
    margin-top: 5px;
    color:brown;
    margin-left: 2px;
    margin-right: 2px;
}
#root{
    margin-bottom: 2px;
}
table{
    width:99%;
}
td{
    width:33%;
}
#head{
    width:100%;
    height: 40px;
    line-height: 40px;
    background-color: green;
    color: white;
}

.sentence,.chinese{
    margin: 5px;
    color:black;
}